<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATex4FW1y41VP2Jbhq3rKCfgm-kunlrbo</string>
	<key>GCM_SENDER_ID</key>
	<string>993652287234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infinityMessenger.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>infinity-messenger-91c2b</string>
	<key>STORAGE_BUCKET</key>
	<string>infinity-messenger-91c2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993652287234:ios:0bd7d5a9a0e308282d441b</string>
</dict>
</plist>